/* 
nav{
 
  font-size: 1.5rem;
  position:fixed;
  top: 0;
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: 1;
 
  
} */

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

nav :link {
  text-decoration-line: none;
}

.navBar {
  display: flex;
  background: transparent;
  height: 80px;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navBar.active {
  background-color: rgb(0, 0, 0, 0.5);
}

.navbarText {
  color: black;
}

.total-section {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 6rem;
  background-color: white;
  border-top: 1px solid #d1d0d0;
  text-transform: uppercase;
  text-align: center;
}

/* Item */

.card-title {
  text-decoration-line: none;
}

.card-title-text {
  color: white;
}

.card-title-cart {
  color: black;
}

.card:hover {
  box-shadow: 5px 10px 20px 1px rgba(255, 255, 255, 0.273) !important;
  transition: all 0.7s linear;
}

.overflow {
  overflow: hidden;
}

.card-img-top {
  transition: all 0.2s ease-in-out;
}

.card-img-top:hover {
  transform: scale(1.2);
}

.card {
  margin-top: 5rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

.itemDetails {
  margin-top: 5rem;
}

.cart-grid {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-items: center;
  align-items: center;
  align-content: center;
  height: 100%;
  width: 60%;
  padding-top: 3rem;
  padding-bottom: 8rem;
}

.qty-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
}

.qty-btns button {
  border: 2px solid black;
  padding: 0 0.5rem;
  color: black;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 500;
}

.qty-btns span {
  background-color: white;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  width: 2rem;
  text-align: center;
  color: black;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 500;
}

.delete-btn {
  background-color: white;
  color: black;
  font-family: inherit;
  font-size: 0.8rem;
  border: none;
  cursor: pointer;
}
.delete-btn:hover {
  text-decoration: underline;
}

.qty-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
}
.qty-btns button {
  background-color: white;
  border: 2px solid black;
  padding: 0 0.5rem;
  color: black;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 500;
}
.qty-btns span {
  background-color: white;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  width: 2rem;
  text-align: center;
  color: black;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 500;
}

.empty-cart-container {
  width: 450px;
  height: 650px;
  background-image: url("https://source.unsplash.com/MwWhJ6UV1EE/450x650");
  background-size: cover;
  background-repeat: no-repeat;
}
.empty-cart-text {
  text-transform: uppercase;
  font-weight: 500;
  margin-top: 2rem;
  text-align: center;
  color: white;
}

.containerMayor {
  display: flex;
  justify-content: center;
}

.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  width: 100%;
  z-index: 0;
  position: absolute;
  left: 0;
  top: 0;
  background-image: url("https://source.unsplash.com/nO8xIDj749w/1600x900");
  background-position-x: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.welcome-text {
  color: white;
  font-size: 5rem;
  text-align: center;
  margin-top: 5rem;
}

.navBar-text a {
  color: black;
}

.navBar-text.active a {
  color: white;
}

.white-text a {
  color: white;
}
.black-text a {
  color: black;
}

.shopping-cart-counter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.coming-soon-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
